*{
    margin: 0;
	padding: 0;
}
body {
	font-family: Arial, Helvetica, sans-serif, "微軟正黑體";
}
header{
    padding: 10px;
    background: #F3F3F3;
    z-index: 2;
    position: fixed;
    width: 100%;
}
/*上層選單及LOGO*/
.Logo_and_Menu{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
#LogoName{
    width: 30%;
    color: black;
    text-align: left;
}
#LogoName a{
    text-decoration: none;
}
#LogoName a:visited{
    color: black;
}

/* 選單樣式設計 */
#Menu{
    display: flex;
}
#Menu ul{
	display: flex;
	justify-content:space-between;
	align-items: center;
	list-style-type:none; /*li才不會有點點*/
}
#Menu li a{
	color: black;
	text-decoration: none; /*超連結的底線不要顯示出來*/
	font-size: 20px;
	padding: 10px;
	font-weight: bold;
}
#Menu li a:hover{ /*hover鼠標滑入 設超連結一定要記得用這個*/
	color: #0274be; /*游標滑過之後字會變色*/
	transition: 0.5s; /*漸變效果*/
}

/* 主頁的大圖主視覺背景 */
.Main_Background_Image{
    background: linear-gradient(to bottom, rgba(30, 75, 115), rgb(181, 219, 253));
    background-size: cover;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

/* 台客潛水基本介紹區域 */
.container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    padding-top: 30px;
}
.IntroduceTKDiving{
    width: 90%;
    align-items: start;
    margin: 0 10px;
    padding: 20px 0;
}
.IntroduceTKDiving h1{
    color: #FFD306	;
	font-size: 50px;    
}


.IntroduceTKDiving p{
    line-height: 2;
    color: black;
    font-size: 20px;
}

/* 台客生活剪影 */
.LifePictureBox{
    width: 90%;
    margin: 0 auto;   
    display: flex;
    align-items: center; 
}
.Slider{
    width: 80%;
    height: 80%;
    margin: 0 auto;
}
.TKLifePicture{
    width: 100%;
}
.TKLifePicture img{
    width: 100%;  
}

/* 潛水種類區域 背景為淺灰色 */
.DivingCourse_Background{
    background: #F3F3F3;
    padding: 20px 0;  
}
.DivingCourse_Background h2{
    color: black;
	font-size: 34px;
    text-align: center;
}
#DivingWord{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}


/* 潛水趣下方課程圖片連結設定 */
.DivingIntroduceBox{
    width: 90%;
    display: flex;
    margin: 15px auto;  
    align-items: center;  
}
.DivingIntroduceBox h3{
    font-size: 30px;
    margin-top: 10px;
}
.TypesOfDiving{
    width: 33%;
    margin: 0 10px;
    color: white;
    height: 350px;
}
#DiscoverScubaDiving{
    background: url(./../img/體驗潛水.jpg) center center;
    background-size: cover;
}
#OpenWaterSourse{
    background: url(./../img/OpenWater.jpg) center center;
    background-size: cover;
}
#FunDive{
    background: url(./../img/FunDive.jpg) center center;
    background-size: cover;
}

footer{
    padding: 20px;
}

/* footer店家地址設置 */
.StoreLocation{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    font-size: 13px;
    padding: 30px 0;
    margin: 0 auto;
}
/* footer店家社群軟體 */
.SocialSoftware{
    display: flex;
    width: 60%;
    margin: 0 auto;
    justify-content: end;
}
.SocialIcon{
    width: 35px;
    height: 35px;
}
#FBicon{
    background: url(./../img/FBicon.png) center center;
    background-size: cover;
}
#IGicon{
    background: url(./../img/IGicon.png) center center;
    background-size: cover;
}
#Lineicon{
    background: url(./../img/Lineicon.png) center center;
    background-size: cover;
}